
<style>


  /*#content{
    min-height: 100vh;
    min-width: 100%;
  }*/
  .footer{
    margin-top: auto;
  }
  .cardbord{
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: mediumblue;
    border-radius: 5%;
  }

  .cardbordpy{
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: darkgreen;
    border-radius: 5%;
  }

  .cardbordgr{
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: darksalmon;
    border-radius: 5%;
  }
  .item{
    cursor: pointer;
  }

</style>

<!-- page div glogale -->
<div id="content" class="d-flex flex-row" style="background-color: #f8f9fc">
  <!-- Section du menu de navigation-->
  <div class="bg-primary shadow px-2 pt-2" style="width: 20%; height: 100rem">
    <a class="text-decoration-none text-white" routerLink="/admin">
      <div class="d-flex flex-row">
        <img src="/assets/logo.png"  alt="AICEXPERTS" width="80"> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="h2 text-white text-decoration-none text-left text-uppercase ml-4">PEDDLE</span>
      </div>
    </a>
    <hr class="mt-4 bg-white">
    <a class="text-decoration-none text-white mt-5" routerLinkActive="/dashboard">
      <div class="d-flex flex-row">
        <i class="fa fa-dashboard fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-4 ">Tableau de bord</span>
      </div>
    </a>
    <hr class="mt-3 bg-white">
    <div class="text-left text-light text-uppercase my-3 " style="padding: 0 1rem;font-weight: 800;font-size: 0.8rem; color: #b7b9cc;"> social Network</div>
    <a class="text-decoration-none text-white item"  (click)="showDialog()"> <!--routerLink="/template"-->
      <div class="d-flex flex-row">
        <i class="fa fa-save fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-uppercase text-left ml-4 ">Add Social Network</span>
      </div>
    </a>
    <a class="text-decoration-none text-white item" (click)="showDialogPost()">
      <div class="d-flex flex-row mt-3">
        <i class="fa fa-save fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-uppercase text-left ml-4 ">Create Post</span>
      </div>
    </a>
    <a class="text-decoration-none text-white item" (click)="showDialogPin()">
      <div class="d-flex flex-row mt-3">
        <i class="fa fa-save fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-uppercase text-left ml-4 ">Create PIN</span>
      </div>
    </a>
    <a class="text-decoration-none text-white item" (click)="showDialogstory()">
      <div class="d-flex flex-row mt-3">
        <i class="fa fa-save fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-uppercase text-left ml-4 ">Create Instagram story</span>
      </div>
    </a>
    <hr class="mt-3 bg-white">
    <div class="text-left text-light text-uppercase my-3 " style="padding: 0 1rem;font-weight: 800;font-size: 0.8rem; color: #b7b9cc;"> integrating social</div>
    <a class="text-decoration-none text-white item"  routerLink="/teammanagement"> <!--routerLink="/template"-->
      <div class="d-flex flex-row">
        <i class="fa fa-save fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-uppercase text-left ml-4 ">Team Members</span>
      </div>
    </a>
    <a class="text-decoration-none text-white item" routerLink="/contactmanagement">
      <div class="d-flex flex-row mt-3">
        <i class="fa fa-save fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-uppercase text-left ml-4 ">contacts</span>
      </div>
    </a>
    <a class="text-decoration-none text-white item" routerLink="/message">
      <div class="d-flex flex-row mt-3">
        <i class="fa fa-save fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-uppercase text-left ml-4 ">Messages</span>
      </div>
    </a>
    <hr class="mt-3 bg-white">
    <div class="text-left text-light text-uppercase my-3 " style="padding: 0 1rem;font-weight: 800;font-size: 0.8rem; color: #b7b9cc;"> Setup</div>
    <a class="text-decoration-none text-white item"  routerLink="/analytics"> <!--routerLink="/template"-->
      <div class="d-flex flex-row">
        <i class="fa fa-save fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-uppercase text-left ml-4 ">Analytics</span>
      </div>
    </a>
    <a class="text-decoration-none text-white item" routerLink="/">
      <div class="d-flex flex-row mt-3">
        <i class="fa fa-save fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-uppercase text-left ml-4 ">Upgrade My Plan</span>
      </div>
    </a>
    <a class="text-decoration-none text-white item" routerLink="/">
      <div class="d-flex flex-row mt-3">
        <i class="fa fa-save fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-uppercase text-left ml-4 ">Create Opportunities</span>
      </div>
    </a>
    <a class="text-decoration-none text-white item" routerLink="/">
      <div class="d-flex flex-row mt-3">
        <i class="fa fa-save fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-uppercase text-left ml-4 ">SIGN OUT</span>
      </div>
    </a>

  </div>
  <!-- Section du contenu de la page-->
  <div class="d-inline-flex flex-column vh-100 mh-100 vw-100 mw-100">

    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-0 static-top shadow">
      <!--<form class="form-inline mr-auto my-2 mw-100 shadow">-->
      <div class="mr-auto">
        <strong class="text-primary font-weight-bold" style="font-size: 40px"> {{user_plan}}</strong>
      </div>

      <div class="input-group form-inline mr-auto my-2 w-25 shadow">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fa fa-search fa-sm"></i>
          </button>
        </div>
      </div>
      <!--</form>-->

      <ul class="navbar-nav ml-auto">

        <li class="nav-item mt-2">
          <i class="fa fa-plus fa-2x " style="color: #e3e6f0"></i>
        </li>

        <li class="nav-item ml-3 mt-2">
          <i class="fa fa-envelope-o fa-2x" style="color: #e3e6f0"></i>
          <sup><span class="badge badge-danger badge-counter" style="font-size: 6pt">0</span></sup>
        </li>

        <li class="nav-item ml-3 mt-2">
          <i class="fa fa-cog fa-2x" style="color: #e3e6f0"></i>
        </li>

        <li class="nav-item ml-3 mt-2">
          <div style="width: 0; border-right: 1px solid #e3e6f0; height: calc(4.375rem - 2rem);margin: auto 1rem; "></div>
        </li>

        <li class="nav-item ml-3 mt-2">
          <span>{{user_name}}</span>
        </li>
        <!--<div style="width: 0; border-right: 1px solid #e3e6f0; height: calc(4.375rem - 2rem);margin: auto 1rem; "></div> -->
        <li ngbDropdown placement="bottom" class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle >
            <img  [src]=  "user_profile" class="rounded rounded-circle" alt="..."  width="20" height="20">
          </a>
          <div ngbDropdownMenu  class="dropdown-menu dropdown-menu-right">
            <a ngbDropdownItem (click)="profilesetting()" >
              <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Profile
            </a>
            <a ngbDropdownItem (click)="profilesetting()" >
              <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Setting
            </a>
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem (click)="open(content)" >
              <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>
              Deconnexion
            </a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">

      <!-- header to manage "adding social networks" and "adding stream" -->

      <div class="row mt-3 ml-5 mb-2">
        <!--<div class="form-group col-4 mt-3">
          <label for="selectplan">Social Network</label>
          <select class="form-control" id="selectplan" (change)="socialchange()" [formControl]="social_input">
            <option>LinkedIn</option>
            <option>FaceBook</option>
            <option>Twitter</option>
          </select>
        </div>-->
        <button type="button" class="btn btn-outline-primary mr-5" (click)="showDialog()">add social network</button>
        <p-splitButton label="add stream" icon="pi pi-plus" [model]="socialnetworks" styleClass="p-button-help"></p-splitButton>  <!--(onClick)="showDialog()" [model]="items"-->
        <button type="button" class="btn btn-outline-primary ml-5" (click)="showDialogDashboard()">configure dashboard</button>
        <!--<div class="col-8 " style="padding-left: 10%; padding-top: 4%">
          <p-chip *ngFor="let item of peddle_stream_list" label="{{item}}" icon="pi pi-microsoft"  (onRemove)="removecolumn($event)" [removable]="true"></p-chip>
        </div>-->
      </div>

      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <div class="w-50 ml-5 border-right" *ngFor="let item of peddle_stream_list">
                <strong class="font-weight-bold">{{item}}</strong>
                <hr/>
                <div class="card">
                  <div class="card-body">
                    <div class="">
                      <img src="/assets/information.png" class="rounded-circle" alt="LinkedIn" width="20" height="20">
                      <div class="d-inline-block ml-2">
                        <div class="text-primary"> Stream Name</div>
                      </div>
                    </div>
                    <div class="">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                      <img src="/assets/aiceperts.jpg" class="w-100" alt="information" >
                    </div>
                    <div class="mt-1">
                      <i class="fa fa-thumbs-up" style="margin-left: 70%"></i>
                      <i class="fa fa-comment ml-2" style=""></i>
                      <i class="fa fa-share ml-3" style=""></i>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="comment" placeholder="write a comment" >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-toasts-container aria-live="polite" aria-atomic="true"></app-toasts-container>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-left"> voulez-vous vraiment vous déconnecter ?</p>

    <a class="btn btn-outline-danger " routerLink="/welcome" (click)="modal.close('Save click')">Deconnexion</a> <!--modal.close('Save click')-->
    <button type="button" class="btn btn-outline-primary ml-3" (click)="modal.close('Save click')">Annuler </button>
  </div>
</ng-template>


<ng-template  let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-titre">Choisir le template</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

  </div>
</ng-template>

<p-dialog header="Add Social NetWork" [(visible)]="display" (onHide)="onHide()">
 <div class="d-flex">
   <div class="">
     <!--<img  src=  "information.png" class="img-thumbnail" alt="..."  width="50" height="50">-->
     <a  [href]="urllink" > <!--*ngIf="!existlinkedinaccount()"--><!--(click)="ongettoken()" target="_blank" class="item" (click)="onclicklinkedin()" [href]="urllink"-->
       <img src="/assets/Linkedin.png" class="rounded-circle" alt="LinkedIn" width="100" height="100">
       <p class="text-center"> LinkedIn</p>
     </a>
   </div>
   <div class="ml-1">
     <!--<a class="item" href="google">
       <img src="/assets/Facebook.png" class="rounded-circle" alt="Facebook" width="100" height="100">
       <p class="text-center"> Facebook </p>
     </a>-->
     <a (click)="SigninwithFacebook()"  ><!--*ngIf="!existfacebookaccount()"-->
       <img src="/assets/Facebook.png" class="rounded-circle" alt="Facebook" width="100" height="100">
       <p class="text-center"> Facebook </p>
     </a>
   </div>

   <div class="ml-1">
     <a class="item" (click)="SigninwithTwitter()" > <!--*ngIf="!existtwitteraccount()"-->
       <img src="/assets/twitter.png" class="rounded-circle" alt="Twitter" width="100" height="100">
       <p class="text-center"> Twitter </p>
     </a>
   </div>
   <div class="ml-1">
     <a class="item">
       <img src="/assets/instagram.jpg" class="rounded-circle" alt="Twitter" width="100" height="100">
       <p class="text-center"> Instagram </p>
     </a>
   </div>
   <!--<div class="ml-1">
     <a class="item">
       <img src="/assets/Pinterest.png" class="rounded-circle" alt="Twitter" width="100" height="100">
       <p class="text-center"> Pinterest </p>
     </a>
   </div>-->
 </div>
</p-dialog>


<p-dialog header="Create Post" [(visible)]="displaypost" (onHide)="onHideDialogPost()" >
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label for="posto">Post To</label>
        <select class="form-control" id="posto" >
          <option>LinkedIn</option>
          <option>FaceBook</option>
          <option>Twitter</option>
        </select>
      </div>
      <div class="form-group">
        <label for="textarea">Text</label>
        <textarea class="form-control" rows="5" id="textarea"></textarea>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
      </div>
      <button type="button" class="btn btn-primary mt-1">Schedule For later</button>
      <button type="button" class="btn btn-secondary ml-2 mt-1">Post Now</button>
    </div>
  </div>
</p-dialog>


<p-dialog header="Create Pins" [(visible)]="displaypin" (onHide)="onHideDialogPin()" >
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label for="pinto">Pin To</label>
        <input type="text" class="form-control" id="pinto" placeholder="Pin to" >
      </div>
      <div class="form-group">
        <label for="website">Website</label>
        <input type="text" class="form-control" id="website" placeholder="Add the Url this pin link to (required)" >
      </div>
      <div class="form-group">
        <label for="textareapin">Description</label>
        <textarea class="form-control" rows="5" id="textareapin"></textarea>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="validatedCustomFilepin" required>
        <label class="custom-file-label" for="validatedCustomFilepin">Choose file...</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
      </div>
      <button type="button" class="btn btn-primary mt-1">Schedule For later</button>
      <button type="button" class="btn btn-secondary ml-2 mt-1">Pin Now</button>
    </div>
  </div>
</p-dialog>


<p-dialog header="Create Instagram Story" [(visible)]="displaystory" (onHide)="onHideDialogstory()" >
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label for="postory">Post To</label>
        <select class="form-control" id="postory" >
          <option>Instagram</option>
        </select>
      </div>
      <div class="form-group">
        <label for="textareastory">Text</label>
        <textarea class="form-control" rows="5" id="textareastory"></textarea>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="validatedCustomFilestory" required>
        <label class="custom-file-label" for="validatedCustomFilestory">Choose file...</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
      </div>
      <button type="button" class="btn btn-primary mt-1">Schedule For later</button>
      <button type="button" class="btn btn-secondary ml-2 mt-1">Post Now</button>
    </div>
  </div>
</p-dialog>


<p-dialog header="Liste des compagnies"  [(visible)]="displaylinkedincompany" (onHide)="onHideDisplayLinkedincompagnies()"> <!--[(visible)]="displaystory" (onHide)="onHideDialogstory()"-->
  <div class="card">
    <div class="card-body">
      <div class="d-inline-block" *ngFor="let company of listedescompagnies">
        <img src="{{company.imageUrl}}"  alt="{{company.localizedname}}" width="40" height="40" class="rounded">
        <span class="ml-2">{{company.localizedname}}</span>
        <button type="button" class="btn btn-primary ml-2" *ngIf="!company.existornot" (click)="addinglinkedincompagny(company)">add</button> <!--!btnboolexistcompagnie-->
        <button type="button" class="btn btn-primary ml-2" *ngIf="company.existornot" disabled>already added</button>
      </div>
    </div>
  </div>
</p-dialog>



<p-dialog header="Adding stream to dashboard" [(visible)]="dboolchoosedashboard" (onHide)="onHideDialogDashboard()"> <!--[(visible)]="displaystory" -->
  <div class="card">
    <div class="card-body">

      <div class="container">
        <div class="row">
          <div class="">
            <label for="network" class="text-primary">select Network</label>
            <select class="form-control" id="network" (change)="socialchange()" [formControl]="social_input">
              <option>FaceBook</option>
              <option>LinkedIn</option>
              <option>Twitter</option>
              <option>Instagram</option>
            </select>
          </div>
          <div class="form-group" *ngIf="social_input.value == 'LinkedIn' ">
            <label for="profil" class="text-primary">select profil</label>
            <select class="form-control" id="profil" >  <!--(change)="socialchange()" [formControl]="social_input"-->
              <option *ngFor="let item of socialstreamlist">
                  <img src="{{item.imageUrl}}"  alt="image" width="40" height="40" class="rounded">
                  <span class="ml-2">{{item.localizedname}} </span>
              </option>
            </select>
          </div>
        </div>

        <div class="row">
          <div  *ngIf="social_input.value == 'LinkedIn'" class="form-group">
            <label for="fluxlinkedin" class="text-primary">type of flux</label>
            <select class="form-control" id="fluxlinkedin" >  <!--(change)="socialchange()" [formControl]="social_input"-->
              <option *ngFor="let lkdin of linkedinlistsflux">
                {{lkdin}}
              </option>
            </select>
          </div>
          <div  *ngIf="social_input.value == 'FaceBook'" class="form-group">
            <label for="fluxfacebook">type of flux</label>
            <select class="form-control" id="fluxfacebook" >  <!--(change)="socialchange()" [formControl]="social_input"-->
              <option *ngFor="let fck of facebooklistflux">
                {{fck}}
              </option>
            </select>
          </div>
          <div  *ngIf="social_input.value == 'Twitter'" class="form-group col-6">
            <label for="fluxtwitter">type of flux</label>
            <select class="form-control" id="fluxtwitter" >  <!--(change)="socialchange()" [formControl]="social_input"-->
              <option *ngFor="let twter of twitterlistsflux">
                {{twter}}
              </option>
            </select>
          </div>
          <div  *ngIf="social_input.value == 'Instagram'" class="form-group col-6">
            <label for="fluxinstagram">type of flux</label>
            <select class="form-control" id="fluxinstagram" >  <!--(change)="socialchange()" [formControl]="social_input"-->
              <option *ngFor="let ins of instagramlistsflux">
                {{ins}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>



<p-toast key="linkedinaccount" position="top-right"></p-toast>
<p-toast key="facebooksaved" position="top-right"></p-toast>
<p-toast key="twitteraccount" position="top-right"></p-toast>
<p-toast key="companyadded" position="top-right"></p-toast>

