<div class="wrapper">
  <div class="sidebar">
    list sidebar
  </div>
  <div class="body">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-0 vw-100 static-top shadow">
      <!--<form class="form-inline mr-auto my-2 mw-100 shadow">-->
      <div class="input-group form-inline mr-auto my-2 w-25 shadow">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fa fa-search fa-sm"></i>
          </button>
        </div>
      </div>
      <!--</form>-->

      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-5">
          <i class="fa fa-envelope-o fa-1x" style="color: #e3e6f0"></i>
          <sup><span class="badge badge-danger badge-counter" style="font-size: 6pt">5</span></sup>
        </li>
        <div style="width: 0; border-right: 1px solid #e3e6f0; height: calc(4.375rem - 2rem);margin: auto 1rem; "></div>
        <li ngbDropdown placement="bottom" class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle >
            <i class="fa fa-user-circle-o fa-2x" style="color: #e3e6f0"></i>
          </a>
          <div ngbDropdownMenu  class="dropdown-menu dropdown-menu-right">
            <a ngbDropdownItem (click)="false" >
              <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Profile
            </a>
            <a ngbDropdownItem (click)="false" >
              <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Setting
            </a>
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem  >
              <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>
              Deconnexion
            </a>
          </div>
        </li>
      </ul>
    </nav>


    stretch (default): stretch to fill the container (still respect min-width/max-width)
    flex-start / start / self-start: items are placed at the start of the cross axis. The difference between these is subtle, and is about respecting the flex-direction rules or the writing-mode rules.
    flex-end / end / self-end: items are placed at the end of the cross axis. The difference again is subtle and is about respecting flex-direction rules vs. writing-mode rules.
    center: items are centered in the cross-axis.
    align-content
    examples of the align-content property where a group of items cluster at the top or bottom, or stretch out to fill the space, or have spacing.

    This aligns a flex container’s lines within when there is extra space in the cross-axis, similar to how justify-content aligns individual items within the main-axis.

    Note: This property only takes effect on multi-line flexible containers, where flex-flow is set to either wrap or wrap-reverse). A single-line flexible container (i.e. where flex-flow is set to its default value, no-wrap) will not reflect align-content.

    normal (default): items are packed in their default position as if no value was set.
    flex-start / start: items packed to the start of the container. The (more supported) flex-start honors the flex-direction while start honors the writing-mode direction.
    flex-end / end: items packed to the end of the container. The (more support) flex-end honors the flex-direction while end honors the writing-mode direction.

  </div>
  <div class="bottom fixed-bottom">
    defrt
  </div>
</div>
