
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <a href="index.php" class="logo mr-auto"><img src="assets/logo.png" alt="" class="img-fluid"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="#hero">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#pricing">Plans</a></li>
        <li><a href="#faq">FAQs</a></li>
      </ul>
    </nav><!-- .nav-menu -->

    <a routerLink="/login" class="get-started-btn" target="_blank">Login</a>
    <a routerLink="/signup" class="get-started-btn" target="_blank">Sign Up</a>

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
        <h1>A Better Digital Marketing Platform Solution For Your Business</h1>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="100">
        <img src="assets/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= Cliens Section ======= -->
  <section id="cliens" class="cliens section-bg">
    <div class="container"><br />
      <h2>Discover what’s possible when you get social</h2><p>From non-profits and small businesses to governments, we partner with organizations to transform the way they do business.</p>
      <div class="row" data-aos="zoom-in">

        <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="assets/c1.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="assets/c2.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="assets/c3.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="assets/c4.png" class="img-fluid" alt="">
        </div>

      </div>

    </div>
  </section><!-- End Cliens Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Make the connections that matter</h2>
        <h3>From building your brand to delivering customer care, keep the conversation flowing seamlessly across public channels and private messages so you can connect with customers on social at every step of their journey.</h3>
      </div>
    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">

            <h4>Inbox</h4>
            <p class="font-italic">Engage with customers across public and private social channels—in one place</p>

            <h4>Streams</h4>
            <p class="font-italic">Monitor activity and engage at scale across all your social networks</p>


            <h4>Content Library</h4>
            <p class="font-italic">Save time and improve response quality with a shared library of on-brand social content and assets</p>

            <h4>Align your stars</h4>
            <p class="font-italic">Everyone has a role to play. Give your team the social platform and skills they need to step into the spotlight, strengthen relationships with customers, and drive business results</p>


            <h4>Teams</h4>
            <p class="font-italic">Align and secure your social organization with smart, secure, team management and permissions</p>


            <h4>Assignments</h4>
            <p class="font-italic">Boost response times and efficiency by assigning tasks to the right team or region</p>
          </div>

        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("~assets/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/skills.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
          <h3>Discover what’s possible when you unite your social campaigns on one platform</h3>
          <h4>Plan</h4>
          <p class="font-italic">
            View and manage all your social content in a single collaborative calendar
          </p>
          <h4>Create</h4>
          <p class="font-italic">
            Make it easy for your entire team to create beautiful, engaging posts for every social network
          </p>
          <h4>Schedule</h4>
          <p class="font-italic">
            Keep your social presence active 24/7 by automatically scheduling posts to fill the gaps in your calendar
          </p>

          <div class="skills-content">
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Skills Section -->


  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Pick the pricing plan that’s right for you</h2>    <!--REMINDER: see social stream pricing-->
      </div>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="box featured">
            <h3>FREE</h3><h4><sup>Fcfa</sup> 0<span>per month</span></h4>
            <ul>
              <p>Essential tools for effective social media marketing.</p>
              <li><i class="bx bx-check"></i> Social Stream Connection</li>
              <li><i class="bx bx-check"></i> Unlimited scheduling</li>
              <li class="na"><i class="bx bx-x"></i> AI Protection</li>
              <li class="na"><i class="bx bx-x"></i> Analytics & Reports<</li>
            </ul>
            <a href="#" class="buy-btn">Get Started</a>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3>BUSINESS</h3><h4><sup>Fcfa</sup> 25,000<span>per month</span></h4>
            <ul>
              <p>Advanced, scalable tools for large social marketing teams.</p>
              <li><i class="bx bx-check"></i> 10 social profiles</li>
              <li><i class="bx bx-check"></i> Unlimited scheduling</li>
              <li><i class="bx bx-check"></i> 3 users<span></span></li>
            </ul>
            <a href="#" class="buy-btn">Get Started</a>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="box featured">
            <h3>ENTERPRISE</h3><h4><sup>Fcfa</sup> 50,000<span>per month</span></h4>
            <ul>
              <p>Take your sales, service, and marketing to new levels with a custom social media solution.</p>
              <li><i class="bx bx-check"></i> 15 social profiles</li>
              <li><i class="bx bx-check"></i> Unlimited scheduling</li>
              <li><i class="bx bx-check"></i> 5+ users<span></span></li>
            </ul>
            <a href="#" class="buy-btn">Get Started</a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
      </div>

      <div class="faq-list">
        <ul>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-1" class="collapse">What do you mean by a “social profile”? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
              <p>
                Social profiles are accounts (such as an Instagram account, your personal Twitter account, or a Facebook Page). With AIC Socials, you can manage multiple accounts—such as five Instagram accounts, three Twitter accounts, and two Facebook Pages—from one dashboard.<br /><br />Let’s say you choose our Business Plan. You could manage up to 20 different accounts from one dashboard—for example, 20 different Facebook Pages for 20 different clients. You can share access to these accounts by adding team members, helping everyone work together.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">Does AIC Socials offer discounts for nonprofit organizations? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-parent=".faq-list">
              <p>
                Yes, we offer a discounted rate for nonprofits on our Professional or Team plans. See if your organization qualifies by applying here.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">Will I be charged at the end of my free trial? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-parent=".faq-list">
              <p>
                You'll have a free 30 days to test out AIC Socials. At the end of your trial, regular billing begins and you'll be charged. You can avoid charges by downgrading or cancelling any time before your trial ends.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">How much does AIC Socials cost? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-parent=".faq-list">
              <p>
                AIC Socials pricing is tiered based on your plan type. Paid plans start at per month for a Professional plan and range up to per month for a Business plan. Custom solutions are available for Enterprise organizations, which have their own unique pricing structure.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">What forms of payment do you accept? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-parent=".faq-list">
              <p>
                We accept Mobile Money, Visa, Mastercard, Discover credit cards, JCB, and PayPal, and for annual Business and Enterprise plans, we can invoice you. Invoices can be paid by credit card, check, or wire transfers.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="600">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-6" class="collapsed">Will I be notified before my free trial ends? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-6" class="collapse" data-parent=".faq-list">
              <p>
                Yes, you'll receive an email notification to warn you. You can also downgrade or cancel any time during your free trial to avoid any charges.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="700">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-7" class="collapsed">What do you mean by 30 scheduled messages? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-7" class="collapse" data-parent=".faq-list">
              <p>
                Our Free plan lets you schedule up to 30 messages at any given time. Once you reach the limit of 30 messages, you won’t be able to schedule another message until one of your scheduled messages is published (or deleted). For unlimited scheduled messages, give our business plan a try.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="800">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-8" class="collapsed">What is a monthly ad spend limit for boosting content? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-8" class="collapse" data-parent=".faq-list">
              <p>
                A monthly ad spend limit is how much you can spend each month for all your boosted posts. Once you’ve reached your monthly ad spend limit, you’ll receive a notification that you have the option to upgrade your AIC Socials plan in order to continue to maximize the impact of your posts.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer>
  <div class="container footer-bottom clearfix">
    <br /><?php include "./includes/footer.php"; ?><br /></div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
<div id="preloader"></div>
