.aside{
  min-width: 30vh;
  max-width: 30vh;
  min-height:100vh;
  max-height: 100vh;
  position: fixed;
  z-index: 33333;
  top: 0;
  left:0;
}
.content{
  margin-left: 30vh;
  margin-top: 14vh;
}

.menuhaut{
  margin-left: 30vh;
}

.title{
  text-align: center;
  font-size: x-large;
  color: white;
  font-family: "Times New Roman";
  font-weight: bold;
}

.signout{
  margin-top:100%;
}
