<div class="wrapper">

  <!-- bare laterale gauche-->

  <div class="aside bg-primary">
    <p class="title my-3 text-uppercase">Peddle</p>
    <hr class="mt-3 bg-white">
    <p class=" my-1 text-uppercase ml-1 text-white">MENU</p>

    <a class="text-decoration-none text-white" routerLink="/peddle_home">
      <div class="d-flex flex-row ml-5 mt-2">
        <i class="fa fa-home fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-2 ">PEDDLE HOME</span>
      </div>
    </a>

    <!------------------------------------Social Network Management------------------------------->

    <a class="text-decoration-none text-white" > <!--routerLink="manage-employes"-->
      <div class="d-flex flex-row ml-4 mt-2">
        <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1 ">Social Network</span>
      </div>
    </a>

    <a  class="text-decoration-none text-white" (click)="showdialogaddsocialnetwork()" style="cursor: pointer">
      <div class="d-flex flex-row ml-5 mt-1">
        <i class="fa fa-users fa-1x text-white mt-1"></i><!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1 ">Add Social Network</span>
      </div>
    </a>
    <a class="text-decoration-none text-white"  style="cursor: pointer">
      <div class="d-flex flex-row ml-5 mt-1">
        <i class="fa fa-share-alt-square fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1 ">Create Post</span>
      </div>
    </a>

    <a class="text-decoration-none text-white" routerLink="peddle_my_agenda" >
      <div class="d-flex flex-row ml-5 mt-1">
        <i class="fa fa-calendar fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1 ">My Agenda</span>
      </div>
    </a>

    <!------------------------------------Sales Management------------------------------->

    <a class="text-decoration-none text-white" > <!--routerLink="manage-employes"-->
      <div class="d-flex flex-row ml-4 mt-2">
        <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1 ">Sales</span>
      </div>
    </a>

    <a class="text-decoration-none text-white" routerLink="peddle_opportunities">
      <div class="d-flex flex-row ml-5 mt-1">
        <i class="fa fa-search-plus fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1 ">Opportunities</span>
      </div>
    </a>

    <!------------------------------------Users Management------------------------------->

    <a class="text-decoration-none text-white" > <!--routerLink="manage-employes"-->
      <div class="d-flex flex-row ml-4 mt-2">
        <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1 ">Users</span>
      </div>
    </a>

    <a class="text-decoration-none text-white" routerLink="peddle_team_members">
      <div class="d-flex flex-row ml-5 mt-1">
        <i class="fa fa-users fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1 ">Team Members</span>
      </div>
    </a>
    <a class="text-decoration-none text-white" routerLink="peddle_messages">
      <div class="d-flex flex-row ml-5 mt-1">
        <i class="fa fa-comments fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1 ">Messages</span>
      </div>
    </a>

    <!------------------------------------Reports------------------------------->


    <a class="text-decoration-none text-white" > <!--routerLink="manage-employes"-->
      <div class="d-flex flex-row ml-4 mt-2">
        <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1 ">Reports</span>
      </div>
    </a>

    <a class="text-decoration-none text-white" routerLink="peddle_analytics">
      <div class="d-flex flex-row ml-5 mt-1">
        <i class="fa fa-bar-chart fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1 ">Analytics</span>
      </div>
    </a>
    <a class="text-decoration-none text-white" routerLink="peddle_plan">
      <div class="d-flex flex-row ml-5 mt-1">
        <i class="fa fa-money fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1 ">Plan</span>
      </div>
    </a>


    <!------------------------------------Setup------------------------------->


    <a class="text-decoration-none text-white" > <!--routerLink="manage-employes"-->
      <div class="d-flex flex-row ml-4 mt-2">
        <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1 ">Setup</span>
      </div>
    </a>

    <a class="text-decoration-none text-white" routerLink="peddle_users_profile">
      <div class="d-flex flex-row ml-5 mt-2">
        <i class="fa fa-user fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1 ">Profile</span>
      </div>
    </a>
    <a class="text-decoration-none text-white" routerLink="peddle_plan">
      <div class="d-flex flex-row ml-5 mt-2">
        <i class="fa fa-cogs fa-1x text-white mt-1"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1 ">Setting</span>
      </div>
    </a>

    <!------------------------------------Signup------------------------------->

    <a class="text-decoration-none text-white" routerLink="welcome">
      <div class="d-flex flex-row ml-4 signout">
        <i class="fa fa-sign-out fa-1x text-white mt-0"></i> <!--fa-3x permet de donner la taille de l'icone-->
        <span class="text-white text-decoration-none text-left ml-1">Signout</span>
      </div>
    </a>

  </div>

  <!-- la partie principale de la page-->
  <div class="content">

    <!-- le menu haut-->

    <nav class="navbar navbar-expand navbar-light bg-light topbar mb-0 fixed-top shadow menuhaut">
      <!--<form class="form-inline mr-auto my-2 mw-100 shadow">-->
      <div class="input-group form-inline mr-auto my-2 w-25 shadow">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fa fa-search fa-sm"></i>
          </button>
        </div>
      </div>
      <!--</form>-->

      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-5">
          <i class="fa fa-envelope-o fa-1x" style="color: #e3e6f0"></i>
          <sup><span class="badge badge-danger badge-counter" style="font-size: 6pt">5</span></sup>
        </li>
        <div style="width: 0; border-right: 1px solid #e3e6f0; height: calc(4.375rem - 2rem);margin: auto 1rem; "></div>
        <li ngbDropdown placement="bottom" class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle >
            <img  [src]=  "user_profile" class="rounded rounded-circle" alt="..."  width="20" height="20">
          </a>
          <div ngbDropdownMenu  class="dropdown-menu dropdown-menu-right">
            <a ngbDropdownItem  >
              <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Profile
            </a>
            <a ngbDropdownItem >
              <i class="fa fa-credit-card fa-sm fa-fw mr-2 text-gray-400"></i>
              Billing
            </a>
            <a ngbDropdownItem >
              <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Setting
            </a>
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem >
              <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>
              Deconnexion
            </a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<p-dialog header="Add social network" [(visible)]="booladdsocialnetwork" [style]="{width: '65vw'}">
  <div class="socialstyle">
    <div class="card socialitem">
      <div class="card-body">
        <img class="card-img" src="assets/Facebook.png" alt="Facebook icon" width="60" height="60">
        <h5 class="card-title">Facebook</h5>
        <p class="card-text">Manage your facebook page and group</p>
        <button type="button" class="btn btn-outline-primary" (click)="SigninwithFacebook()" >Add</button>
        <button type="button" class="btn btn-outline-primary" >Add</button>
      </div>
    </div>
    <div class="card socialitem">
      <div class="card-body">
        <img class="card-img-top" src="assets/Instagram_v2.jpg" alt="Instagram icom" width="60" height="60">
        <h5 class="card-title">Instagram</h5>
        <p class="card-text">Manage your Instagram stream</p>
        <button type="button" class="btn btn-outline-primary">Add</button>
      </div>
    </div>
    <div class="card socialitem">
      <div class="card-body">
        <img class="card-img-top" src="assets/twitter.png" alt="twitter icon" width="60" height="60">
        <h5 class="card-title">Twitter</h5>
        <p class="card-text">Manage your Twitter accounts and stream</p>
        <button type="button" class="btn btn-outline-primary">Add</button>
      </div>
    </div>
    <div class="card socialitem">
      <div class="card-body">
        <img class="card-img-top" src="assets/Linkedin.png" alt="Linkedin icon" width="60" height="60">
        <h5 class="card-title">LinkedIn</h5>
        <p class="card-text">Manage LinkedIn profiles and compagnies pages</p>
        <button type="button" class="btn btn-outline-primary">Add</button>
      </div>
    </div>
  </div>
</p-dialog>


<!--<router-outlet name="test"></router-outlet>-->


